{
	"Version": "2008-10-17",
	"Statement": [
		{
			"Sid": "AllowPublicRead",
			"Effect": "Allow",
			"Principal": {
				"AWS": "*"
			},
			"Action": "s3:GetObject",
			"Resource": "arn:aws:s3:::flightstats-webapps-staging/*",
			"Condition": {
				"IpAddress": {
					"aws:SourceIp": "74.85.224.112/28"
				}
			}
		},
		{
			"Sid": "AllowPublicRead",
			"Effect": "Allow",
			"Principal": {
				"AWS": "*"
			},
			"Action": "s3:GetObject",
			"Resource": "arn:aws:s3:::flightstats-webapps-staging/*",
			"Condition": {
				"IpAddress": {
					"aws:SourceIp": "64.62.173.59/32"
				}
			}
		}
	]
}
